@model EntityLayer.Concrete.Portfolios
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Portfolyo Ekle</h4>
            <p class="card-description">
                Yeni Portfolyo Ekle
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Başlık</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" name="Title" placeholder="İş">
                        @Html.ValidationMessageFor(x=>x.Title)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">URL</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" name="Url" placeholder="Pozisyon">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Görsel Yolu</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" name="Image" placeholder="Görsel Yolu">
                        @Html.ValidationMessageFor(x => x.Image)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Teknoloji</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" name="Platform" placeholder="Görsel Yolu">
                        @Html.ValidationMessageFor(x => x.Platform)
                    </div>
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="Status">
                        Sayfada Göster
                    </label>
                </div>
                <button class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

